// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './AddDocumentForm/AddDocumentForm';
@import './landos';

.mbtn {
    border: none;
    border-radius: 3px;

    background-color: white;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-expand-lg {
    background-color: #243a51;
    box-shadow: 0 1px 0 rgba(0,0,0,.3);
    padding: 5px;
    font-size: 14px;
}

.navbar a {
    color: #fff;
}
